.car-details {
    display: grid;
    grid-template-rows: 1fr;
    gap: 0.7rem;
}

@media (min-width: 768px)
{
    .car-details {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 1024px)
{
    .car-details {
        grid-template-columns: repeat(3, 1fr);
    }
}