.car-detail
{
    flex-basis: 100%;
    display: flex;
    gap: 1.2rem;
    padding: 0.7rem 1.2rem;
    border-radius: 1rem;
    color: #fff;
    font-weight: 700;
    align-items: center;
    background-color: var(--main-color);
}

.car-detail svg {
    font-size: 1.5rem;
}

.car-detail div {
    display: flex;
    flex-direction: column;
}
